@import './base/general';
@import './base/variables';
@import './components/header';
@import './components/parrafoMain';
@import './components/products';
@import './components/productsContainer';
@import './components/footer';
@import './components/animations';
@import './components/vistadesktop';
@import './components/vistamobile';
@import './base/newproducts';
@import './base/mixin';