@import './variables';

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

section {
    word-wrap: break-word;
}

main{
    margin-bottom: $footer-size;
}

@font-face {
    font-family:"comic sans";
    src: url();
    font-display: swap;
}

